:root {
  --header-padding: 13px;
  --item-padding: 6px;
  --line-height: 1.2rem;
  --light-gray-color: #bbbbbb;
  --gray-color: #37352f99;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, sans-serif;
  font-size: 16px;
  color: #222222;
}
a {
  color: inherit;
  text-decoration: none;
}
ul,
ol,
li {
  list-style: none;
}
button {
  cursor: pointer;
}

#app {
  width: 100%;
  height: 100vh;
  display: flex;
}
#app > div {
  height: 100%;
}

.sidebar {
  width: 200px;
  border-right: 1px solid #d1d1d1;
}
.sidebar__content {
  padding: var(--header-padding);
}

.sidebar__header,
.main__header {
  width: 100%;
  height: 46px;
  padding: var(--header-padding);
}

.main {
  width: 100%;
}

.main__content {
  max-width: 700px;
  width: 100%;
  padding: 0 60px;
  margin: 0 auto;
  margin-top: 60px;
}

.add-item {
  width: 200px;
  font-family: inherit;
  font-size: 14px;
}
.add-item button {
  width: 100%;
  background: none;
  border: none;
  text-align: start;
  padding-top: var(--item-padding);
  padding-bottom: var(--item-padding);
  color: var(--gray-color);
}
.add-item ul {
  width: 100%;
  box-shadow: rgb(15 15 15 / 5%) 0px 0px 0px 1px,
    rgb(15 15 15 / 10%) 0px 3px 6px, rgb(15 15 15 / 20%) 0px 9px 24px;
  border-radius: 5px;
  background: white;
  padding: 10px 0;
  display: none;
}
.add-item li button {
  padding: 8px 16px;
  color: #222222;
}
.add-item li:hover {
  background: #ececec;
}

/* items */
.item {
  position: relative;
  padding-top: var(--item-padding);
  padding-bottom: var(--item-padding);
  margin-bottom: 4px;
}
.delete-button {
  position: absolute;
  left: -30px;
  top: 0px;
  padding: 6px;
  border: none;
  background: none;
  font-size: 18px;
  color: var(--light-gray-color);
  opacity: 0;
}
.item:hover .delete-button {
  opacity: 1;
}

.text.title {
  font-weight: 700;
  line-height: 1.2;
  font-size: 40px;
}
.text {
  width: 100%;
  white-space: pre-wrap;
  word-break: break-word;
  outline: none;
  min-height: var(--line-height);
  line-height: var(--line-height);
  cursor: text;
}
[placeholder]:empty::before {
  content: attr(placeholder);
  color: var(--light-gray-color);
}
[placeholder]:empty:focus::before {
  content: '';
}
